version: '3.3'
services:
  db:
    image: postgres
    container_name: envctl-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: controller
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./backend/sql/create.sql:/docker-entrypoint-initdb.d/create.sql

  backend:
    depends_on:
      - db
    links:
      - db
    image: openjdk:17-jdk-alpine
    container_name: envctl-backend
    ports:
      - 8080:8080
    environment:
      JAR_FILE: envctl.jar
      JAR_URL: https://github.com/maxrt101/envctl/releases/download/v1.0/envctl.jar
    command: /bin/sh -c "wget $$JAR_URL -O $$JAR_FILE && java -jar $$JAR_FILE"

  frontend:
    image: nginx:alpine
    container_name: envctl-frontend
    ports:
      - 80:80
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/htdocs:/usr/share/nginx/html
